@model ERP.Models.Sales.Sale

<h2>Sale Details</h2>

<div>
    <dl class="row">
        <dt class="col-sm-2">Sale ID</dt>
        <dd class="col-sm-10">@Model.SaleId</dd>

        <dt class="col-sm-2">Customer Name</dt>
        <dd class="col-sm-10">@Model.CustomerName</dd>

        <dt class="col-sm-2">Item Name</dt>
        <dd class="col-sm-10">@Model.ItemName</dd>

        <dt class="col-sm-2">Quantity</dt>
        <dd class="col-sm-10">@Model.Quantity</dd>

        <dt class="col-sm-2">Total Price</dt>
        <dd class="col-sm-10">@Model.TotalPrice</dd>

        <dt class="col-sm-2">Date</dt>
        <dd class="col-sm-10">@Model.Date.ToShortDateString()</dd>
    </dl>
</div>

<a asp-action="Index" class="btn btn-secondary">Back to List</a>
